.heading{
    width: 100%;
    height: 60px;
    
}



.heading .navbar{
    list-style-type: none;
    position: fixed;
    cursor: pointer;
}

.heading .navbar li{
    display: inline;
    padding-left: 50px;
    
}
