.section{
    height: 700px;
    width: 100%;
    
    
}
h3{
    font-size: 50px;
    text-align: left;
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: -50px;  
    color: #00abf0; 
}


h2{
    font-size: 50px;
    text-align: left;
    padding-left: 100px;
    padding-top: 80px;
}

h4{
    font-size: 35px;
    text-align: left;
    padding-left: 100px;
    padding-top: 20px;
    animation: typing 1.5s steps(10) infinite;
}


@keyframes typing{
    100%{
        left: 100%;
        display: none;
    }
}

.btn1{
    padding: 5px;
    border-radius: 5px;
    margin-left: -650px;
    margin-right: 20px;
    position: absolute;
    background: transparent;
    background-color: #081b29;
    border: 2px solid #00abf0;
    font-size: 18px;
    color: #00abf0;
    font-weight: 500;
    cursor: pointer;
    margin-top: 40px;
}

.btn2{
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    margin-left: -525px;
    background: transparent;
    background-color: #081b29;
    border: 2px solid #00abf0;
    font-size: 18px;
    color: #00abf0;
    font-weight: 500;
    cursor: pointer;
    margin-top: 40px;
}

.btn1,.btn2:hover{
    background-color: #00abf0;
    color: #081b29;
}
a img{
    width: 75px;
    height: 75px;
    position: absolute;
    margin-top: 150px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    background-color: #00abf0;
}

a img:hover{
    background-color: #ededed;
    border: 2px solid #ededed;
    
}
.im1{
    margin-left: -650px;
    
}

.im2{
    margin-left: -550px;
}
.im3{
    margin-left: -450px;
}