.skills .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 50px;
}

.skills .container img{
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin: 30px; /* Adjust as needed */
}


.skills .container img:hover{
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    
    
}






