
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #081b29; 
  color: #ededed;
}

/*
.App {
  text-align: center;
}


.App-header {
  width: 100%;
  height: 100px;
  background-color: rgb(210, 52, 52);
  margin: -20px;
  padding: 0px;
  
}

.nav{
  list-style: none;
  display: block;
}
*/